.dash {
  background-color: aqua;
  position: relative;
  display: flex;
  height: 100vh;
}

.navbar {
  background-color: beige;
  width: 18vw;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

