.login-Form {
  text-wrap: wrap;
  text-align: center;
  flex-direction: column;
  /* flex: 1rem; */
  margin-top: 10vh;
  align-self: center;
  left:65vh;
  /* padding: 1rem; */
  max-height: 110vh;
  max-width: 500px; /* Adjusted width to be responsive */
  border: 1.5px solid #ccc;
  border-radius: 0.5rem;
  position: sticky;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-Input {
  border-radius: 0.5rem;
  margin-top: 2rem;
  height: 8vh;
  min-width: 80%;
}

.login-btn {
  margin-top: 3rem;
  /* margin-bottom: 2rem; */
  background-color: black;
  border-radius: 0.4rem;
  border: none;
  color: white;
  min-width: 250px;
  min-height: 50px;
}
.txt {
  /* position: absolute; */
  flex-direction: row;
  flex: 1rem;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 2rem; */
  margin-top: 2rem;
  margin-bottom: 0;
}

.s-p {
  position: sticky;
  left: 20rem;
  color: blue;
  text-decoration-line: underline;
  /* margin-left: 14rem; */
  /* position: absolute; */
  /* bottom: 0.1rem; */
}

.forgot-pasd {
  position: relative;
  right: 150px;
  color: red;
  /* left: 1; */
}
